body {
    background-color: rgb(74, 156, 50);
}

#rock {
    color: rgba(133, 81, 12, 0.822);
}

#paper {
    color: rgb(8, 94, 41);
}

#scissors {
    color: rgb(107, 18, 2)
}

button {
    background-color:rgb(245, 245, 220);
    font-weight: bold;
    font-size: 18px;
    width: 350px;
    height: 200px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: rgb(3, 3, 48);
}

img {
    height: auto;
    max-width: 225px;
    border-radius: 50%;
    pointer-events: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color:rgb(245, 245, 220);
    border-radius: 12px;
    border: 3px solid rgb(201, 201, 11);
}

h1 {
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 40px;
    height: 45px;
    margin-bottom: 28px;
    margin-top: auto; 
}

.round h2{
    font-size: 28px;
    margin-bottom: 4px;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.scores h3 {
    font-size: 30px;
    margin-bottom: 1px;
}

.scores p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-size: 18px;
}

.winner h2{
    font-size: 30px;
    margin-bottom: 4px;
}

#play {
    display: flex;
    justify-content: space-around;
    align-items: center;
}